html {
    box-sizing: border-box;
 }

*,
*::before,
*::after {
    box-sizing: inherit;
 }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
 }

/*-----------------------Header and subheader-----------------------*/

.top-half {
   background-color: #1F2937;
   display: flex;
   flex-direction: column;
   flex: 1;
 }

.header {
    color: white;
    display: flex;
    flex-direction: row;
 }

.subheader {
   margin: 100px;
 }

.website-title {
   color: #F9FAF8;
   margin-top: auto;
   margin-bottom: auto;
   margin-right: auto;
   margin-left: 50px;
   font-size: 24px;
   font-weight: bold;
 }

.top-content {
    display: flex;
    margin: auto;
    margin-left: 50px;
 }
 
h1 {
   font-size: 48px;
   font-weight: extra-bold;
   color: #F9FAF8;
   margin-top: 5px;
   margin-bottom: 0px;
 }

.left-content p {
   font-size: 18px;
   color: #E5E7EB;
 }

.left-content {
   margin-right: 30px; 
 }

.navigation-links {
   display: flex;
   flex-direction: row;
   margin-left: auto;
   margin-bottom: auto;
   margin-top: auto;
   margin-right: 50px;
   font-size: 18px;
 }

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    gap: 30px;
 }

a {
    text-decoration: none;
    color: #E5E7EB;
 }

img {
    width: 400px;
    margin-right: 50px;
    margin-left: auto;

 }

h2 {
   text-align: center;
 }

.top-half button {
   border: none;
   font-weight: bold;
 }

/*-----------------------The Fascinating Journey of Tap Water-------------------*/

.card {
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 70px;
  }

.card p {
   width: 150px;
   text-align: center;
  }

.info img {
   width: 150px;
   border: 3px solid #3882F6;
   border-radius: 5px;
  }

.additional-information {
   margin-top: 10px;
  }

 /*-----------------------Quote-----------------------*/

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
 }

.quote {
   font-size: 36px;
   font-style: italic;
   color: #1F2937; 
   display: flex;
   flex-direction: column;
   align-content: center;
   padding: 70px;
   padding-left: 100px;
   padding-right: 100px;
   margin-top: 50px;
   margin-bottom: 50px;
 }

.quote-text {
   margin-left: 50px;
 }

.quote .attribution {
   margin-left: auto;
   margin-right: 50px;
 }

/*-----------------------Call to action-----------------------*/

.call-to-action {
   display: flex;
   flex-direction: row;
   margin: auto;
   width: 800px;
   height: 120px;
   background-color: #3882F6;
   color: white;
   border-radius: 10px;
   flex-wrap: wrap;
   margin-bottom: 50px;
 }

.call-to-action p {
  margin-top: 0;
 }

h3 {
   padding: 0px;
   margin-bottom: 5px;
 }

.left-call {
   flex: 1;
   flex-direction: column;
   margin: auto;
   margin-left: 50px;
 }

button {
  display: inline-block;
  padding: 5px 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #3882F6;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-right: 50px;
 }

 /*-----------------------Footer-----------------------*/

.footer {
   flex: 1;
   margin-top: auto;
   max-height: 60px;
   background-color: #1F2937;
   color: white;
   line-height: 60px;
   text-align: center;
 }